* {
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    text-align: center;
}

.main-nav {
    display: flex;
    justify-content: space-between;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    border: 1px solid green;
    /* padding: 4px; */
    /* background: url(..img/1.jpg); */
    background-color: rgba(90, 20, 20, 0.534);
}

.img-container img {
    height: 100px;
    border: 1px solid black;
}

.main-container {
    opacity: 0;
    transition: opacity .8s;
    justify-content: space-around;
    padding: 2rem;
}

canvas {
    background-color: azure;
    border: 2px solid blueviolet;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4rem;
    height: 500px;
    width: 500px;
}

.edit-zone img {
    height: 20px;
}

/* Helpers */
/* .flex-row {
    display: flex;
    flex-direction: row;
} */

.hide {
    display: none;
}

.show {
    opacity: 1;
    display: flex;
}
